* {
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --grey: #212121;
  --white: #FFFFFF;
  --silver: #4F4F4F;
  --background: #111111;
  --green: #004F3A;
}

/* HEADER */
header {
  width: 100%;
  background-color: var(--grey);
}

body {
  background-color: var(--background);
}

.searchbox {
  height: 55px;
  background-color: var(--silver);
  padding: 0px 20px;
  height: 55px;
}

.searchbox>input {
  background-color: transparent;
  border: 0;
  height: 100%;
  color: var(--white);
  font-size: 16px;
  padding-left: 15px;
  width: 300px;
}

::placeholder {
  color: var(--white);
  opacity: 1;
}

.searchbox {
  color: var(--white);
}

header a img {
  margin-left: 20px;
}

header a {
  align-self: center;
  align-items: center;
  display: flex;
}

/* HEADER END */

main {
  min-height: calc(100vh - 55px);
}

@media screen and (max-width: 593px) {
  header>div {
    flex-direction: column !important;
  }

  header>div>a {
    margin: 10px;
  }
  header>div>div{
    width: 80%;
    margin-bottom: 10px;
  }
  header>div>div input[type="search"] {
    width: 100%;
  }
  .resultbox img{
    width: 15vw;
    height: 15vw;
  }
  .resultbox > div{
    align-items: flex-start!important;
  }
}