.tools {
    color: var(--white);
}
.title{
    margin: 30px;
    margin-top: 20px;
}
.title div{
    margin: 15px;
}
.title >div>h1{
    margin-bottom: 10px;
}
.para{
    margin: 40px;
    text-align: justify;
    line-height: 26px;
}